* {
  text-align: center; }

.border {
  border: 1px solid black; }

@media (max-width: 1550px) {
  .roboto {
    font-family: 'Roboto Slab', serif; }

  .droid {
    font-family: "Droid Serif", serif; }

  .mont {
    font-family: 'Montserrat', sans-serif; }

  .jumbotron {
    background-image: url("images/jumbotron.jpg");
    background-size: cover;
    height: 600px;
    color: #FFF; }

  .nav a {
    color: #FFF; }

  .silver-color {
    color: #777; }

  .services {
    padding: 0px 50px; }

  .pic:before {
    content: url("images/line.png");
    position: relative;
    margin-left: 20px; }

  .bold {
    font-weight: bold; }

  .portfolio {
    background-color: #f7f7f7; }

  .ml-1 {
    margin-left: 20px; }

  .contact {
    background-image: url("images/jumbotron.jpg");
    background-size: cover;
    height: 600px;
    color: #FFF;
    background-image: url("images/contact.png");
    height: 460px; }

  ::-webkit-input-placeholder {
    font-size: 13px !important; }

  .foo {
    height: 100px; }

  .line {
    margin-left: 1vh; }

  .team {
    display: inline-block; } }
@media (max-width: 992px) {
  .ml-1 {
    margin-left: 50px; }

  .mt-m-1 {
    margin-top: 20px!important; }

  .mt-m-2 {
    margin-top: 30px!important; }

  .mt-m-3 {
    margin-top: 40px!important; }

  .mt-m-4 {
    margin-top: 50px!important; }

  .mt-m-5 {
    margin-top: 60px!important; }

  .mt-m-6 {
    margin-top: 70px!important; }

  .mt-m-7 {
    margin-top: 80px!important; }

  .mt-m-8 {
    margin-top: 90px!important; }

  .mt-m-9 {
    margin-top: 100px!important; }

  .mt-m-10 {
    margin-top: 110px!important; }

  .mt-m-11 {
    margin-top: 120px!important; }

  .mt-m-12 {
    margin-top: 130px!important; }

  .mt-m-13 {
    margin-top: 140px!important; }

  .mt-m-14 {
    margin-top: 150px!important; }

  .mt-m-15 {
    margin-top: 160px!important; }

  .mt-m-16 {
    margin-top: 170px!important; }

  .mt-m-17 {
    margin-top: 180px!important; }

  .mt-m-18 {
    margin-top: 190px!important; }

  .mt-m-19 {
    margin-top: 200px!important; }

  .mt-m-20 {
    margin-top: 210px!important; }

  .mt-m-21 {
    margin-top: 220px!important; }

  .mt-m-22 {
    margin-top: 230px!important; }

  .mt-m-23 {
    margin-top: 240px!important; }

  .mt-m-24 {
    margin-top: 250px!important; }

  .mt-m-25 {
    margin-top: 260px!important; }

  .jumbotron {
    height: 388px; }
    .jumbotron h1 {
      font-size: 25px; }
    .jumbotron h2 {
      font-size: 15px; }

  a {
    font-size: 15px; }

  .contact {
    background-image: url("images/jumbotron.jpg");
    background-size: cover;
    height: 600px;
    color: #FFF;
    background-image: url("images/contact.png");
    height: 385px; }

  .services {
    color: red; }

  .pic:before {
    content: url("images/line.png");
    position: relative;
    margin-left: 20px;
    margin-left: 55px; } }
@media (max-width: 768px) {
  .mt-s-1 {
    margin-top: 20px; }

  .mt-s-2 {
    margin-top: 30px; }

  .mt-s-3 {
    margin-top: 40px; }

  .mt-s-4 {
    margin-top: 50px; }

  .mt-s-5 {
    margin-top: 60px; }

  .mt-s-6 {
    margin-top: 70px; }

  .mt-s-7 {
    margin-top: 80px; }

  .mt-s-8 {
    margin-top: 90px; }

  .mt-s-9 {
    margin-top: 100px; }

  .mt-s-10 {
    margin-top: 110px; }

  .mt-s-11 {
    margin-top: 120px; }

  .mt-s-12 {
    margin-top: 130px; }

  .mt-s-13 {
    margin-top: 140px; }

  .mt-s-14 {
    margin-top: 150px; }

  .mt-s-15 {
    margin-top: 160px; }

  .mt-s-16 {
    margin-top: 170px; }

  .mt-s-17 {
    margin-top: 180px; }

  .mt-s-18 {
    margin-top: 190px; }

  .mt-s-19 {
    margin-top: 200px; }

  .mt-s-20 {
    margin-top: 210px; }

  .mt-s-21 {
    margin-top: 220px; }

  .mt-s-22 {
    margin-top: 230px; }

  .mt-s-23 {
    margin-top: 240px; }

  .mt-s-24 {
    margin-top: 250px; }

  .mt-s-25 {
    margin-top: 260px; }

  .jumbotron {
    height: 250px; }

  a {
    font-size: 15px;
    margin-top: -10px; }

  .navbar-header {
    margin-top: -45px; }

  nav a:hover {
    background-color: red; }

  h2 {
    font-size: 18px; }

  h1 {
    font-size: 15px; }

  .test {
    display: inline;
    background-color: red; }

  .ml-s-1 {
    margin-left: -10px !important; }

  .last {
    margin-left: 2vw; }

  .team {
    display: inline-block; }

  .contact {
    background-image: url("images/contact.png");
    background-size: 100%; } }
.mt-1 {
  margin-top: 20px; }

.mt-2 {
  margin-top: 30px; }

.mt-3 {
  margin-top: 40px; }

.mt-4 {
  margin-top: 50px; }

.mt-5 {
  margin-top: 60px; }

.mt-6 {
  margin-top: 70px; }

.mt-7 {
  margin-top: 80px; }

.mt-8 {
  margin-top: 90px; }

.mt-9 {
  margin-top: 100px; }

.mt-10 {
  margin-top: 110px; }

.mt-11 {
  margin-top: 120px; }

.mt-12 {
  margin-top: 130px; }

.mt-13 {
  margin-top: 140px; }

.mt-14 {
  margin-top: 150px; }

.mt-15 {
  margin-top: 160px; }

.mt-16 {
  margin-top: 170px; }

.mt-17 {
  margin-top: 180px; }

.mt-18 {
  margin-top: 190px; }

.mt-19 {
  margin-top: 200px; }

.mt-20 {
  margin-top: 210px; }

.mt-21 {
  margin-top: 220px; }

.mt-22 {
  margin-top: 230px; }

.mt-23 {
  margin-top: 240px; }

.mt-24 {
  margin-top: 250px; }

.mt-25 {
  margin-top: 260px; }

/*# sourceMappingURL=style.css.map */
