*{
	text-align: center;
	color: black;
}

.border{
	border: 1px solid black;
}



$white : #FFF;

$silver : #777;

.white{
	color: #f7f7f7;
}

@mixin jumbotron($url-image){
	background-image: url($url-image);
	background-size: cover;
	color: $white;
}

.jumbotron{
	@include jumbotron('images/jumbotron.jpg');
	
}

.navbar-inverse{
	background-color: transparent;
	border: transparent;
	position: absolute;
	width: 98vw;
	overflow-x: hidden;
	font-weight: bold;
}

.logo{
	margin-left: 13vw;
}

.menu_list{
	margin-left: 20vw;
}

.menu_item{

	font-weight: 600;

	
	
	&:hover{
		background-color: #f7f7f7;
	}
}

a{
	&:hover{
		color: black !important;
	}
	
}

.contact{
	@include jumbotron('images/contact.png');
}

@mixin picture{
	content: url('images/line.png');
	position: relative;
	margin-left: 20px;
}


.roboto{
	font-family: 'Roboto Slab', serif;
}

.droid{
	font-family: "Droid Serif", serif;
}

.mont{
	font-family: 'Montserrat', sans-serif;
}



.nav{
	a{	
		color: $white;
	}
}

@for $a from 1 through 25{
	.mt-#{$a} 
	{
		margin-top: 10px + 10 * $a;
	}
} 

.bold{
	font-weight: bold;
}

.portfolio{
	background-color: #f7f7f7;
}

.padding{
	padding-bottom: 20px;
}

@media (min-width: 1001px) and (max-width: 1550px)
{


.jumbotron{
		height: 600px;
	}



.silver-color{
	color: $silver;
}

.services{
	padding: 0px 50px;
}

.ml-1{
	margin-left: 20px;
}

.contact{
	height: 460px;
}

::-webkit-input-placeholder {
   font-size: 13px!important;
}

.foo{
	height: 100px;
}

.line{
		margin-left: 1vh;
	}

	.team{
		display: inline-block;
	}



.timeline{
	.row{	
		&:not(:first-child){
			margin-bottom: 100px;
		}

	}
	.pic{
		position: relative;
		img{
			max-width: 100%;
		}
		&:after{
			content: "";
			display: block;
			width: 1px;
			height: 100px;
			background-color: silver;
			position: absolute;
			left: 50%;
		}

	}

	.row:last-child .pic{
			&:after{
				display: none;
			}
		}

	
}
}


@media( max-width: 1000px)
{

	.ml-1{
	margin-left: 50px;
	}

	.jumbotron{
	
		height: 388px;

		h1{
			font-size: 25px;
		}	

		h2{
			font-size: 15px;
		}

	}
	a{
		font-size: 15px;
	}

	.contact{
	height: 600px;
	}

	.section_border{
		margin-top: 50px;
	}

	.text-center{
		float: right;
		margin: 0;
	}

	.pic{
		
		img{
			width: 50%;
		}
	}



@for $a from 1 through 25{
	.mt-m-#{$a}{
		margin-top: 10px + 10 * $a+!important;
		}
	} 

}

@media(max-width: 768px)
{
	

	.jumbotron{
		height: 380px;
	}

	a{
		font-size: 15px;
		margin-top: -10px;
	}

	


	h2{
		font-size: 18px;
	}

	h1{
		font-size: 15px;
	}

	.test{
		display: inline;
		background-color: red;
	}
	
	.ml-s-1{
		margin-left: -10px!important;
	}

	.last{
		margin-left: 2vw;
	}

	.pic{}

	.description{
		margin-top: -15px;
	}

	.team{
		display: inline-block;
	}

	.contact{
		height: 600px;
	}

	@for $a from 1 through 25{
	.mt-s-#{$a} 
	{
		margin-top: 10px + 10 * $a!important;
	}
} 
	
@media(max-width: 767px){
	
	.navbar-inverse{
	background-color: #112526;
	margin-top: 0;
	}

	.menu_item{
		height: 74px;
	}

	ul{
		width: 100%;
		margin: 0 !important;
		padding: 0 !important;
	}
	.jumbotron{
		height: 400px;
		padding: 0;
	}

	@for $a from 1 through 12{
		.col-#{$a}{
			width: 8.33% * $a;
		}
	}
}

}









